<h2 mat-dialog-title>Employee Info</h2>
<mat-dialog-content>
  <p><strong>Name:</strong> {{ data.firstName }} {{ data.lastName }} {{ data.surName }}</p>
  <p><strong>Date of Birth:</strong> {{ data.dateOfBirth }}</p>
  <p><strong>Address:</strong> {{ data.address }}</p>
  <p><strong>Email:</strong> {{ data.email }}</p>
  <p><strong>Phone:</strong> {{ data.phone }}</p>
  <p><strong>Date of Hire:</strong> {{ data.dateOfHire }}</p>
  <p><strong>Salary:</strong> {{ data.salary  }}</p>
  <p><strong>Gender:</strong> {{ genderString }}</p>
  <p><strong>Nationality:</strong> {{ data.nationality }}</p>
  <p><strong>Education:</strong> {{ data.education }}</p>
  <p><strong>Degree Name:</strong> {{ data.degreeName }}</p>
  <p><strong>Personal Skills:</strong> {{ data.personalSkills }}</p>
  <p><strong>Computer Skills:</strong> {{ data.computerSkills }}</p>
  <p><strong>Qualifications:</strong> {{ data.qualifications }}</p>
  <p><strong>Language Knowledge:</strong> {{ data.languageKnowledge }}</p>
  <p><strong>Party:</strong> {{ data.party }}</p>
  <p><strong>Previous Job:</strong> {{ data.previousJob }}</p>
  <p><strong>Marital Status:</strong> {{ maritalStatusString }}</p>
  <p><strong>Military Status:</strong> {{ militaryStatusString }}</p>
  <p><strong>Driver License:</strong> {{ driverLicenseString }}</p>
  <p><strong>Number of Children:</strong> {{ data.numberOfChildren }}</p>
  <p><strong>Specialization:</strong> {{ data.specialization }}</p>
  <p><strong>Insurance Status:</strong> {{ data.insuranceStatus }}</p>
  <p><strong>Company:</strong> {{ data.companyName }}</p>
  <p><strong>Department:</strong> {{ data.departmentName }}</p>
  <p><strong>Division:</strong> {{ data.divisionName }}</p>
  <p><strong>Position:</strong> {{ data.positionName }}</p>
  <p><strong>In Reserve:</strong> {{ data.isInReserve }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
