<h1 mat-dialog-title>Edit Division</h1>
<div mat-dialog-content>
  <form [formGroup]="divisionForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullname" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Head of Division</mat-label>
      <input matInput formControlName="headOfDivision" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Department</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option value="">None</mat-option>
        <mat-option *ngFor="let department of departments" [value]="department.id">
          {{ department.fullname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!divisionForm.valid">Save</button>
</div>
